<div id="<%= dom_id message %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= message.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Chat:</strong>
    <%= message.chat_id %>
  </div>
</div>
