<div id="<%= dom_id message %>" class="my-2 <%= 'text-right' if message.user_id == Current.user.id %>">
  <div class='inline-block'>
    <div class="animation-message flex rounded-lg p-2 bg-slate-200 dark:bg-slate-800">
      <p class=""><%= message.content %></p>
      <%= link_to 'Edit', edit_chat_message_path(chat, message), data: { turbo_frame: 'new_message' }, class: "mt-auto mt-1 ml-2 text-blue-600 text-xs" if message.user_id == Current.user.id %>
    </div>
  </div>
</div>
