<% content_for :title, "Profile" %>

<div class="w-full mb-6">
  <% if notice.present? %>
    <p class="py-2 px-3 mb-5 text-sm bg-green-50 dark:bg-white text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-4">Profile</h1>
    <%= link_to 'Edit profile', edit_identity_account_path(@user), class: 'rounded-md px-3.5 py-2.5 bg-gray-600 hover:bg-gray-500 text-white block font-medium' %>
  </div>

  <%= render partial: "identity/shared/profile" %>

  <%= link_to 'Sessions', sessions_path, class: 'underline hover:no-underline' %>

  <div class="flex items-center space-x-2 mt-8">
    <p class="font-bold">Theme:</p>
    <button data-action="click->theme#toggle" data-theme-target="button" class="bg-gray-800 text-white dark:bg-white dark:text-black py-1 px-2 rounded">
      Dark
    </button>
  </div>
</div>
