<div class="w-full">
  <div class="mb-2">
    <h1 class="font-bold text-4xl">Profiles</h1>
  </div>

  <%= form_with url: identity_profiles_path, method: :get, local: true do %>
    <div class="mb-10 mt-4">
      <%= text_field_tag :name, params[:name], placeholder: "Search profiles...",
            class: "block bg-white shadow-md rounded-md border-gray-300 outline outline-blue-300 focus:outline-blue-600 dark:bg-slate-600 px-3 py-2 mt-2 w-full",
            onchange: "this.form.submit()" %>
    </div>
  <% end %>

  <div id="profiles" class="min-w-full divide-y divide-gray-300 space-y-5">
    <%= render partial: "identity/profiles/profile", collection: @page.records, as: :user %>
    <%= render "layouts/next_page_container", src: identity_profiles_path(page: @page.next_param, format: :turbo_stream) unless @page.last? %>
  </div>
</div>
